{% extends 'layout.html' %}

{% block content %}
<section class="page-not-found">
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <div class="page-not-found-main">
                <h2>404 <i class="icon icon-file"></i></h2>
                <p>Sorry but the requested page is not found !</p>
            </div>
        </div>
        <div class="col-md-4">
            <h4>
              Here are some usefull links
            </h4>
            <ul class="nav nav-list primary">
                <li><a href="/">Homepage</a></li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}